# Servidor
PORT=3000
NODE_ENV=development

# Cliente
CLIENT_URL=http://localhost:5173

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ap_ati_db
DB_USER=postgres
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=